<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>Taomni</vendor>
  <vendor_url>https://github.com/engcapa/taomni</vendor_url>

  <action id="com.taomni.sockscap.helper">
    <description>Start the Taomni Sockscap network helper</description>
    <message>Authentication is required to start Taomni Sockscap</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/taomni/sockscap-helper</annotate>
  </action>
</policyconfig>
